.button {
    background-color: rgb(128, 0, 128);
    font-weight: bold;
    padding: 0.25rem;
    font-size: 15px;
    color:aliceblue;
    border-radius: 8px;
    margin-top: 0.3rem;
}

.button:hover{
  background: #b219d1;
}

.button:focus {
    outline: none;
  }